
.statistics{
  ul{
    list-style: none;
  }
  li{
      margin: 10px; padding: 10px; background-color: rgba(255, 0, 149, 0.486); width: 100px; color: rgba(214, 15, 15, 0.945); font-size: 24px; text-align:center; display: inline-block; cursor: pointer; user-select: none;
  }
  li:hover{
      box-shadow: 0 0 20px 0 rgba(71, 0, 65, 0.2);
  }
}